In [44]:
from fredapi import Fred
import pandas as pd
from config import fred_api_key
from pprint import pprint

# Initialize the Fred client
fred = Fred(api_key=fred_api_key)

In [45]:
output_path_raw = "Data/median_income.csv"
output_path_formatted = "Data/median_income_formatted.csv"

In [46]:
states = {"United States": "US",
         "Alabama": "USAL",
         "Alaska": "USAK",
         "Arizona": "USAZ",
         "Arkansas": "USAR",
         "California": "USCA",
         "Colorado":"USCO",
         "Connecticut": "USCT",
         "Delaware": "USDE",
         "District of Columbia": "USDC",
         "Florida": "USFL",
         "Georgia": "USGA",
         "Hawaii": "USHI",
         "Idaho": "USID",
         "Illinois": "USIL", 
         "Indiana": "USIN",
         "Iowa": "USIA",
         "Kansas": "USKS",
         "Kentucky": "USKY",
         "Louisiana": "USLA",
         "Maine": "USME",
         "Maryland": "USMD",
         "Massachusetts":"USMA",
         "Michigan": "USMI",
         "Minnesota": "USMN",
         "Mississippi": "USMS",
         "Missouri": "USMO",
         "Montana": "USMT",
         "Nebraska": "USNE",
         "Nevada": "USNV",
         "New Hampshire": "USNH",
         "New Jersey": "USNJ",
         "New Mexico": "USNM", 
         "New York": "USNY",
         "North Carolina": "USNC",
         "North Dakota": "USND",
         "Ohio": "USOH",
         "Oklahoma": "USOK",
         "Oregon": "USOR",
         "Pennsylvania": "USPA",
         "Rhode Island": "USRI",
         "South Carolina": "USSC",
         "South Dakota": "USSD",
         "Tennessee": "USTN",
         "Texas": "USTX",
         "Utah": "USUT",
         "Vermont": "USVT",
         "Virginia": "USVA",
         "Washington": "USWA",
         "West Virginia": "USWV",
         "Wisconsin": "USWI",
         "Wyoming": "USWY",
         }

In [47]:
# Dictionary to hold data for all states
state_income_data = {}

# Fetch data for each state
for state, abbreviation in states.items():
    # Construct the series ID for each state
    series_id = f"MEHOIN{abbreviation}A646N"

    # Fetch the series data from FRED
    income_data = fred.get_series(series_id, observation_start="2004-01-01")
    state_income_data[state] = income_data

# Convert the data to a DataFrame
state_income_df = pd.DataFrame(state_income_data)
state_income_df.index.name = "Date"
pprint(state_income_df)

            United States  Alabama   Alaska  Arizona  Arkansas  California  \
Date
2004-01-01        44330.0  36630.0  55060.0  43850.0   34980.0     49220.0
2005-01-01        46330.0  37150.0  55890.0  45250.0   36660.0     51760.0
2006-01-01        48200.0  37950.0  56420.0  46660.0   37060.0     55320.0
2007-01-01        50230.0  42210.0  62990.0  47220.0   40800.0     55730.0
2008-01-01        50300.0  44480.0  63990.0  46910.0   39590.0     57010.0
2009-01-01        49780.0  39980.0  61600.0  45740.0   36540.0     56130.0
2010-01-01        49280.0  40930.0  57850.0  46900.0   38590.0     54280.0
2011-01-01        50050.0  42590.0  57430.0  48620.0   41300.0     53370.0
2012-01-01        51020.0  43460.0  63650.0  47040.0   39020.0     57020.0
2013-01-01        53590.0  47320.0  72470.0  52610.0   39380.0     60790.0
2014-01-01        53660.0  42280.0  67630.0  49250.0   44920.0     60490.0
2015-01-01        56520.0  44510.0  75110.0  52250.0   42800.0     63640.0
2016-01-01        59040.0  47220.0  75720.0  57100.0   45910.0     66640.0
2017-01-01        61140.0  50870.0  77990.0  59700.0   49750.0     70040.0
2018-01-01        63180.0  49940.0  68730.0  62280.0   49780.0     70490.0
2019-01-01        68700.0  56200.0  78390.0  70670.0   54540.0     78100.0
2020-01-01        68010.0  54690.0  74750.0  67090.0   50780.0     77650.0
2021-01-01        70780.0  56930.0  81130.0  70820.0   50780.0     81580.0
2022-01-01        74580.0  59910.0  89740.0  73450.0   53980.0     85300.0
2023-01-01        80610.0  60660.0  98190.0  82660.0   63250.0     89870.0

            Colorado  Connecticut  Delaware  District of Columbia  ...  \
Date                                                               ...
2004-01-01   50890.0      55100.0   48050.0               43450.0  ...
2005-01-01   50450.0      56840.0   51240.0               44990.0  ...
2006-01-01   55700.0      62400.0   52440.0               48480.0  ...
2007-01-01   61140.0      64140.0   54590.0               50780.0  ...
2008-01-01   60940.0      64680.0   50700.0               55590.0  ...
2009-01-01   55930.0      64850.0   52110.0               53140.0  ...
2010-01-01   60230.0      66000.0   55210.0               56930.0  ...
2011-01-01   58630.0      65420.0   54660.0               55250.0  ...
2012-01-01   57260.0      64250.0   48970.0               65250.0  ...
2013-01-01   67910.0      69290.0   54090.0               60060.0  ...
2014-01-01   60940.0      70160.0   57520.0               68280.0  ...
2015-01-01   66600.0      72890.0   57760.0               70070.0  ...
2016-01-01   70570.0      75920.0   58050.0               70980.0  ...
2017-01-01   74980.0      74300.0   64960.0               81280.0  ...
2018-01-01   73030.0      72810.0   65010.0               85750.0  ...
2019-01-01   72500.0      87290.0   74190.0               93110.0  ...
2020-01-01   83780.0      79430.0   70020.0               88220.0  ...
2021-01-01   84950.0      80960.0   68690.0               90640.0  ...
2022-01-01   89930.0      90730.0   80750.0              101700.0  ...
2023-01-01   96640.0      92240.0   86340.0              111000.0  ...

            South Dakota  Tennessee    Texas      Utah  Vermont  Virginia  \
Date
2004-01-01       41110.0    38070.0  41400.0   50870.0  47330.0   51140.0
2005-01-01       43150.0    39410.0  41420.0   54810.0  50700.0   51910.0
2006-01-01       45430.0    40690.0  43310.0   54630.0  51980.0   57120.0
2007-01-01       46420.0    41200.0  46050.0   53530.0  47390.0   59160.0
2008-01-01       51600.0    39700.0  46490.0   62540.0  50710.0   61990.0
2009-01-01       45830.0    40520.0  47480.0   58490.0  52320.0   60500.0
2010-01-01       45350.0    38590.0  47270.0   56700.0  55930.0   60370.0
2011-01-01       47220.0    42280.0  49050.0   55490.0  51860.0   62620.0
2012-01-01       49420.0    43000.0  51930.0   58340.0  55580.0   64630.0
2013-01-01       53410.0    43360.0  51410.0   61050.0  65510.0   65910.0
2014-01-01       53050.0    43720.0  53880.0   63380.0  60710.0   66160.0
2015-01-01       55070.0    47330.0  56470.0   66260.0  59490.0   61490.0
2016-01-01       57450.0    51340.0  58150.0   67480.0  60840.0   66450.0
2017-01-01       56910.0    55310.0  60090.0   69790.0  63680.0   70810.0
2018-01-01       59460.0    56060.0  59790.0   77070.0  70070.0   77150.0
2019-01-01       64260.0    56630.0  67440.0   84520.0  74310.0   81310.0
2020-01-01       70190.0    54970.0  68400.0   83990.0  67260.0   82210.0
2021-01-01       73890.0    62170.0  67400.0   87650.0  76080.0   80270.0
2022-01-01       67180.0    65380.0  74640.0   95800.0  72190.0   85170.0
2023-01-01       81740.0    72700.0  79060.0  101200.0  85190.0   96490.0

            Washington  West Virginia  Wisconsin  Wyoming
Date
2004-01-01     49920.0        33370.0    45730.0  45400.0
2005-01-01     50650.0        36450.0    44650.0  44720.0
2006-01-01     54720.0        38420.0    51690.0  47040.0
2007-01-01     58080.0        42090.0    51280.0  48740.0
2008-01-01     56630.0        37990.0    51200.0  53340.0
2009-01-01     60390.0        40490.0    51240.0  52470.0
2010-01-01     56160.0        42780.0    50350.0  52200.0
2011-01-01     56850.0        41820.0    52060.0  54510.0
2012-01-01     62190.0        43550.0    53080.0  57510.0
2013-01-01     63920.0        43070.0    51730.0  67440.0
2014-01-01     59070.0        39550.0    58080.0  55690.0
2015-01-01     67240.0        42820.0    55430.0  60930.0
2016-01-01     70310.0        44350.0    59820.0  57830.0
2017-01-01     71540.0        46960.0    63480.0  59540.0
2018-01-01     79730.0        50570.0    62630.0  62540.0
2019-01-01     82450.0        53710.0    67350.0  65130.0
2020-01-01     81360.0        51970.0    67410.0  65450.0
2021-01-01     87650.0        46840.0    69940.0  71050.0
2022-01-01     89430.0        52460.0    73330.0  73090.0
2023-01-01     93440.0        60410.0    79690.0  77200.0

[20 rows x 52 columns]

In [48]:
state_income_df.to_csv(output_path_raw)

In [49]:
# Reimport data. Also useful to reprocess data later to avoid repeat API calls (just run from here).
formatted_df = pd.read_csv(output_path_raw)

formatted_df.insert(1, 'Year', "")
formatted_df.insert(2, 'Month', "")
formatted_df['Date'] = formatted_df['Date'].str[0:7]
formatted_df['Year'] = formatted_df['Date'].str[0:4]
formatted_df['Month'] = formatted_df['Date'].str[5:7]
formatted_df.head()

,Date,Year,Month,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2004-01,2004,01,44330.0,36630.0,55060.0,43850.0,34980.0,49220.0,50890.0,...,41110.0,38070.0,41400.0,50870.0,47330.0,51140.0,49920.0,33370.0,45730.0,45400.0
1,2005-01,2005,01,46330.0,37150.0,55890.0,45250.0,36660.0,51760.0,50450.0,...,43150.0,39410.0,41420.0,54810.0,50700.0,51910.0,50650.0,36450.0,44650.0,44720.0
2,2006-01,2006,01,48200.0,37950.0,56420.0,46660.0,37060.0,55320.0,55700.0,...,45430.0,40690.0,43310.0,54630.0,51980.0,57120.0,54720.0,38420.0,51690.0,47040.0
3,2007-01,2007,01,50230.0,42210.0,62990.0,47220.0,40800.0,55730.0,61140.0,...,46420.0,41200.0,46050.0,53530.0,47390.0,59160.0,58080.0,42090.0,51280.0,48740.0
4,2008-01,2008,01,50300.0,44480.0,63990.0,46910.0,39590.0,57010.0,60940.0,...,51600.0,39700.0,46490.0,62540.0,50710.0,61990.0,56630.0,37990.0,51200.0,53340.0

In [50]:
formatted_df = formatted_df.set_index('Date')
formatted_df.to_csv(output_path_formatted)