In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json

# Impor the OpenWeatherMap API key
from config import geoapify_api_key

# Import citipy to determine the cities based on latitude and longitude
#from citipy import citipy

In [2]:
state_codes_dict = {
         "Alabama": "AL",
         "Alaska": "AK",
         "Arizona": "AZ",
         "Arkansas": "AR",
         "California": "CA",
         "Colorado":"CO",
         "Connecticut": "CT",
         "Delaware": "DE",
         "District of Columbia": "DC",
         "Florida": "FL",
         "Georgia": "GA",
         "Hawaii": "HI",
         "Idaho": "ID",
         "Illinois": "IL", 
         "Indiana": "IN",
         "Iowa": "IA",
         "Kansas": "KS",
         "Kentucky": "KY",
         "Louisiana": "LA",
         "Maine": "ME",
         "Maryland": "MD",
         "Massachusetts":"MA",
         "Michigan": "MI",
         "Minnesota": "MN",
         "Mississippi": "MS",
         "Missouri": "MO",
         "Montana": "MT",
         "Nebraska": "NE",
         "Nevada": "NV",
         "New Hampshire": "NH",
         "New Jersey": "NJ",
         "New Mexico": "NM", 
         "New York": "NY",
         "North Carolina": "NC",
         "North Dakota": "ND",
         "Ohio": "OH",
         "Oklahoma": "OK",
         "Oregon": "OR",
         "Pennsylvania": "PA",
         "Rhode Island": "RI",
         "South Carolina": "SC",
         "South Dakota": "SD",
         "Tennessee": "TN",
         "Texas": "TX",
         "Utah": "UT",
         "Vermont": "VT",
         "Virginia": "VA",
         "Washington": "WA",
         "West Virginia": "WV",
         "Wisconsin": "WI",
         "Wyoming": "WY",
         }

In [3]:
state_coords_dict = {
    "Alabama":	[32.806671,	-86.791130],
    "Alaska":	[61.370716,	-152.404419],
    "Arizona":	[33.729759,	-111.431221],
    "Arkansas":	[34.969704,	-92.373123],
    "California":	[36.116203,	-119.681564],
    "Colorado":	[39.059811,	-105.311104],
    "Connecticut":	[41.597782,	-72.755371],
    "Delaware":	[39.318523,	-75.507141],
    "District of Columbia":	[38.897438,	-77.026817],
    "Florida":	[27.766279,	-81.686783],
    "Georgia":	[33.040619,	-83.643074],
    "Hawaii":	[21.094318,	-157.498337],
    "Idaho":	[44.240459,	-114.478828],
    "Illinois":	[40.349457,	-88.986137],
    "Indiana":	[39.849426,	-86.258278],
    "Iowa":	[42.011539,	-93.210526],
    "Kansas":	[38.526600,	-96.726486],
    "Kentucky":	[37.668140,	-84.670067],
    "Louisiana":	[31.169546,	-91.867805],
    "Maine":	[44.693947,	-69.381927],
    "Maryland":	[39.063946,	-76.802101],
    "Massachusetts":	[42.230171,	-71.530106],
    "Michigan":	[43.326618,	-84.536095],
    "Minnesota":	[45.694454,	-93.900192],
    "Mississippi":	[32.741646,	-89.678696],
    "Missouri":	[38.456085,	-92.288368],
    "Montana":	[46.921925,	-110.454353],
    "Nebraska":	[41.125370,	-98.268082],
    "Nevada":	[38.313515,	-117.055374],
    "New Hampshire":	[43.452492,	-71.563896],
    "New Jersey":	[40.298904,	-74.521011],
    "New Mexico":	[34.840515,	-106.248482],
    "New York":	[42.165726,	-74.948051],
    "North Carolina":	[35.630066,	-79.806419],
    "North Dakota":	[47.528912,	-99.784012],
    "Ohio":	[40.388783,	-82.764915],
    "Oklahoma":	[35.565342,	-96.928917],
    "Oregon":	[44.572021,	-122.070938],
    "Pennsylvania":	[40.590752,	-77.209755],
    "Rhode Island":	[41.680893,	-71.511780],
    "South Carolina":	[33.856892,	-80.945007],
    "South Dakota":	[44.299782,	-99.438828],
    "Tennessee":	[35.747845,	-86.692345],
    "Texas":	[31.054487,	-97.563461],
    "Utah":	[40.150032,	-111.862434],
    "Vermont":	[44.045876,	-72.710686],
    "Virginia":	[37.769337,	-78.169968],
    "Washington":	[47.400902,	-121.490494],
    "West Virginia":	[38.491226,	-80.954453],
    "Wisconsin":	[44.268543,	-89.616508],
    "Wyoming":	[42.755966,	-107.302490]
}

In [4]:
# create dataframes
state_code_df = pd.DataFrame([state_codes_dict]).T
state_coords_df = pd.DataFrame(state_coords_dict).T

state_code_df.index.name = "State"
state_code_df.columns = ["Code"]

state_coords_df.index.name = "State"
state_coords_df.columns = ["Lat", "Lon"]

states_df = pd.merge(state_code_df, state_coords_df, on="State")

states_df.head()

           Code        Lat         Lon
State
Alabama      AL  32.806671  -86.791130
Alaska       AK  61.370716 -152.404419
Arizona      AZ  33.729759 -111.431221
Arkansas     AR  34.969704  -92.373123
California   CA  36.116203 -119.681564

In [5]:

# Output csv

states_df.to_csv("Data/states.csv")